<div class="breadcrumbs">
	<div class="page-width">
		<ul>
			<li class="breadcrumbs__home"><a href="/" class="breadcrumbs__manu">Home</a></li>

			{% case template %}
				{% when 'list-collections' %}
					<li><span class="breadcrumbs__manu">collections</span></li>

				{% when 'collection' %}
					{% if current_tags %}
						<li><a href="/collections/" class="breadcrumbs__manu">Collection</a></li>
						<li><a href="{{ collection.url }}" class="breadcrumbs__manu">{{ collection.title }}</a></li>
						<li><span class="breadcrumbs__manu">{{ current_tags }}</span></li>
					{% else %}
						<li><a href="/collections/" class="breadcrumbs__manu">Collection</a></li>
						<li><span class="breadcrumbs__manu">{{ collection.title }}</span></li>
					{% endif %}

				{% when 'product' %}
					{% if collection.id.size > 0 %}
						<li><a href="/collections/" class="breadcrumbs__manu">Collection</a></li>
						<li><a href="{{ collection.url }}" class="breadcrumbs__manu">{{ collection.title }}</a></li>
					{% else %}
						<li><a href="/collections/all" class="breadcrumbs__manu">Products</a></li>
					{% endif %}
					<li><span class="breadcrumbs__manu">{{ product.title }}</span></li>

				{% when 'blog' %}
					{% if canonical_url contains 'tagged' %}
						<li><a href="{{ blog.url }}" class="breadcrumbs__manu">{{ blog.title }}</a></li>
						<li><span class="breadcrumbs__manu">{{ current_tags }}</span></li>
					{% else %}
						<li><span class="breadcrumbs__manu">{{ blog.title }}</span></li>
					{% endif %}

				{% when 'article' %}
					<li><a href="{{ blog.url }}" class="breadcrumbs__manu">{{ blog.title }}</a></li>
					<li><span class="breadcrumbs__manu">{{ article.title }}</span></li>

				{% when 'search' %}
					<li><span class="breadcrumbs__manu">Search{% if search.terms %}: {{ search.terms }}{% endif %}</span></li>

				{% when 'customers/addresses', 'customers/order' %}
					<li><a href="/account" class="breadcrumbs__manu">Account</a></li>
					<li><span class="breadcrumbs__manu">{{ page_title }}</span></li>

				{% else %}
					<li><span class="breadcrumbs__manu">{{ page_title }}</span></li>

			{% endcase %}
		</ul>
	</div>
</div>

{% schema %}
{
  "name": "breadcrumbs",
  "tag": "section",
  "class": "section",
  "settings": [ ],
  "presets": [
    {
      "name": "breadcrumbs"
    }
  ]
}
{% endschema %}
