<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.60 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.60 | round: 0 }}px;
  }

  @media screen and (min-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .gallery img { width:100%; height:auto; margin: 2% auto; cursor: pointer; -webkit-transition: all 0.2s; transition: all 0.2s; cursor: zoom-in ; }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      {%- if section.settings.title != blank -%}
        <h2 class="text-{{ section.settings.text-alignment }}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
      <div class="gallery grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
        {%- for block in section.blocks -%}
          {% if block.settings.image_with_text_image != blank %}
            <div class="grid__item">
            <a
              data-fancybox="mixed"
              class="zoom-img"
              href="{{ block.settings.image_with_text_image | image_url: width: 1500 }}"
            >
              {{ block.settings.image_with_text_image | image_url: width: 1500 | image_tag }}
            </a>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>


<script>
   	$('.zoom-img').fancybox({
  	buttons : [
  		'slideShow',
  		'close'
  	],
  	slideShow : {
  		autoStart : false
  	}
  });
</script>

{% schema %}
{
  "name": "Gallery",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "default": "Featured collection",
    "label": "t:sections.featured-collection.settings.title.label"
  },
  {
    "type": "select",
    "id": "text-alignment",
    "label": "Text Alignment",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "left"
  },
  {
    "type": "range",
    "id": "columns_desktop",
    "min": 0,
    "max": 5,
    "step": 1,
    "unit": "no",
    "label": "Column Count",
    "default": 3
  },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Column Count Mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
  {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks" : [
    {
      "type": "heading",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_with_text_image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ]
}
{% endschema %}
