{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.mobile_padding_top | times: 0.60 | round: 0 }}px;
  padding-bottom: {{ section.settings.mobile_padding_bottom | times: 0.60 | round: 0 }}px;
}

@media screen and (min-width: 749px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.image-text-inner { display: grid; grid-template-columns: 1fr 1fr; gap: 6rem; }
.image-text-inner .image-inner svg { background: #f3f3f3;width:100%; }
.image-text-inner .main-head-text { text-align: left; }
.image-text-inner .image-inner img { width: 100%; border-radius: 10px; }
.image-text-inner .icon-with-text .item { display: flex; gap: 20px; align-items: flex-start; background: #fff; padding: 1rem; border-radius: 10px; }
.image-text-inner .icon-with-text .item:not(:last-child) { margin: 0 0 2rem; }
.image-text-inner .icon-with-text .item .icon-head { margin: 1rem 0; font-size: 16px; font-weight: 700; }
.image-text-inner .icon-with-text .item .text { font-size: 14px; line-height: 25px; margin: 0; }
.image-text-inner .icon-with-text .item .image-icon img { width: 60px; height: 60px; }
.image-text-inner .bottom_btn { padding: 3rem 0 0; }
.image-text-inner .bottom_btn  a { background: #000; display: inline-block; color: #fff; font-size: 16px; font-weight: 600; padding: 14px 30px; transition: all 0.5s; border: 1px solid #ea4b42; }
.image-text-inner .bottom_btn a:hover { background: transparent; }
.image-text-inner .bottom_btn svg { vertical-align: middle; }
.image-text-inner .bottom_btn svg path{ transition: all 0.5s; }
.image-text-inner .bottom_btn a:hover { background: #fff; color: #ea4b42; }
.image-text-inner .bottom_btn a:hover svg path { fill:#ea4b42; }
.image-text-inner .image-icon {display: flex;}
.image-text-inner .main-title { font-size: 38px; font-weight: 700; margin:0 0 1rem; display: inline-block; position: relative; }
.image-text-inner .richtext__content strong { color: #229316; text-transform: uppercase;line-height:normal; }
.image-text-inner .richtext__content p { line-height: 28px;margin:1rem 0;color:#454545; }
.section-{{ section.id }}-padding .image-text-inner .main-title:after { content: ""; position: absolute; width: 100%; height: 12px; background: {% if section.settings.bg_color != blank %}{{ section.settings.bg_color }}{% else %}#229316{% endif %}; left: 0; bottom: 0; z-index:-1;opacity: 0.14; }
.cus-color .image-text-inner .richtext__content strong { color: #454545; }
.image-text-inner .icon-text-inner { padding: 5rem 0; display: flex; flex-direction: column; justify-content: center; }
.image-inner { display: flex; align-items: center; }
.image-with-text__grid--reverse .image-inner { order: 2; height: 100%; display: flex; align-items: flex-end; }

@media (max-width:1199px){
  .image-text-inner .main-title { font-size: 30px; }
  .image-text-inner .icon-with-text .item .text { font-size: 12px; line-height: 22px; }
  .image-text-inner .icon-with-text .item .image-icon img { width: 48px; height: 48px; }
  .image-text-inner .richtext__content p{ font-size: 14px; }
  .image-text-inner { gap: 3rem; }
}

@media (max-width:991px){
  .image-text-inner { gap: 20px; }
  .image-text-inner .main-head-text { margin: 0; }
  .image-text-inner { gap:2rem; }
  .image-text-inner .icon-with-text .item .icon-head { margin: .6rem 0 1rem; }
  .image-text-inner { grid-template-columns: 1fr; gap: 2rem; }
  .image-text-inner .icon-text-inner { padding: 0; }
  .image-text-inner .main-title { font-size: 24px; }
  .image-text-inner.text_first .image-inner { order: 2; }
}
  
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}{% if section.settings.bg_color != blank %} cus-color{% endif %}" style="background-color:{% if section.settings.bg_color != blank %}{{ section.settings.bg_color | append:'08' }}{% else %}#fff;{% endif %}">
  <div class="page-width">
    <div class="image-text-inner{% if section.settings.image_layout == 'text_first' %} image-with-text__grid--reverse{% endif %} {{ section.settings.image_layout_mob }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-inner">
        {% if section.settings.img != blank %}
        <img src="{{ section.settings.img | image_url }}" width="auto" height="auto" />
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="icon-text-inner">
        {% if section.settings.subheading != blank
          or section.settings.heading != blank
          or section.settings.text != blank
          or section.settings.button_label != blank
        %}
          <div class="main-head-text">
            {% if section.settings.subheading != blank %}
              <div class="subtitle main-subtitle">
                {{ section.settings.subheading }}
              </div>
            {% endif %}
            {% if section.settings.heading != blank %}
              {{ section.settings.heading | replace:'<p>','<h2 class="main-title">' | replace:'</p>','</h2>' }}
            {% endif %}
            {% if section.settings.text != blank %}
              <div class="richtext__content">
                {{ section.settings.text }}
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="icon-with-text">
          {% for block in section.blocks %}
            <div class="item">
              {% if block.settings.icon != blank %}
                <div class="image-icon">
                  <img src="{{ block.settings.icon | image_url }}" width="auto" height="auto" class="image-icon" />
                </div>
              {% endif %}
              <div class="inner-text">
                {% if block.settings.head != blank %}
                  <h5 class="icon-head">{{ block.settings.head }}</h5>
                {% endif %}
                {% if block.settings.rte != blank %}
                  {{ block.settings.rte | replace:'<p>',"<p class='text'>" }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}

{
  "name": "Image With Icon Text",
  "class": "image-icon-text",
  "settings": [
    {
      "type": "select",
      "id": "image_layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "image_layout_mob",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "Mobile Image Placement",
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
    },
    {
        "type": "richtext",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Some text</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "icon-text",
      "name": "Icon Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "head",
          "label": "heading",
          "default":"heading"
        },
        {
          "type": "richtext",
          "id": "rte",
          "label": "Content",
          "default":"<p>Content</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Icon Text",
    }
  ]
}
{% endschema %}
