{% assign padding_top = section.settings.padding_top %}
{% assign padding_left_right = section.settings.padding_left_right %}
{% assign padding_bottom = section.settings.padding_bottom %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding: {{ padding_top | times: 0.75 | round: 0 }}px {{ padding_left_right | times: 0.75 | round: 0  }}px {{ padding_bottom | times: 0.75 | round: 0  }}px {{ padding_left_right | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding: {{ padding_top }}px {{ padding_left_right }}px {{ padding_bottom }}px {{ padding_left_right }}px;
    }
  }
{%- endstyle -%}
  <div class="section-{{ section.id }}-padding {{ section.settings.custom_class }}">
    <h1>accordion with jquery</h1>
    <div class="container">
      <ul class="tabs">
        {%- for block in section.blocks -%}
          <li class="tab tab-{{ forloop.index }} {% if forloop.first %}current{% endif %}" data-tab="tab{{ forloop.index }}">{{ block.settings['tab-title'] }}</li>
        {%- endfor -%}
      </ul>
      <div class="tab-content">
        {%- for block in section.blocks -%}
          {%- capture tabcontent -%}
            {%- case block.type -%}
              {%- when 'description' -%}
                <div class="content-wrap">
                  {{ product.description }}
                </div>
              {%- when 'custom' -%}
                <div class="content-wrap">
                  {% if block.settings.tab_content != blank or block.settings.content_page.content != blank %}
                  {{ block.settings.tab_content }}
                  {{ block.settings.content_page.content }}
                  {% else %}
                  {{ product.metafields.custom.product_tab_ingredients }}
                  {% endif %}
                </div>
              {%- when 'liquid' -%}
                <div class="content-wrap">{{ block.settings.tab_content }}</div>
              {%- when 'reviews' -%}
                <script>window.hasReviewTab = true;</script>
                <div class="content-wrap product-reviews-wrapper">
                  {%- if block.settings.custom_liquid != blank -%}
                    {{ block.settings.custom_liquid }}
                  {%- else -%}
                    {%- if settings.product_review_app == 'loox_reviews' -%}
                       <div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
                    {%- elsif settings. product_review_app == 'judgeMe_reviews' -%}
                      <div style='clear:both'></div>
                      <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-id='{{ product.id }}'>
                      {{ product.metafields.judgeme.widget }}
                      </div>  
                    {%- elsif settings.product_review_app == 'ali_reviews' -%}
                      <div class="alireviews-review-box"></div>
                    {%- else -%}
                       <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- else -%}
            {%- endcase -%}
          {%- endcapture -%}
          {%- assign tabcontent = tabcontent | strip -%}
          {%- if tabcontent != '' -%}
            <div data-tab-content="tab{{ forloop.index }}" class="tab-dec" style="{% if forloop.first %}display:block;{% endif %}">
              {{ tabcontent }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
  </div>

<style>
ul.tabs{
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  width: 100%;
    max-width: 100%;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-dec {
  display: none;
  background: #ededed;
  padding: 15px;
}
</style>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-dec');
    tabs.forEach(tab => {
      tab.addEventListener('click', function () {
        const tabId = this.getAttribute('data-tab');
        tabs.forEach(t => {
          t.classList.remove('current');
        });
        tab.classList.add('current');
        tabContents.forEach(content => {
          content.style.display = 'none';
        });
        document.querySelector(`[data-tab-content="${tabId}"]`).style.display = 'block';
      });
    });
  });
</script>

{% schema %}
{
"name": "Product Tab",
"settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
      {
      "type": "range",
      "id": "padding_left_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left Right",
      "default": 20
    }
],
"blocks": [
    {
      "type": "description",
      "limit": 1,
      "name": "Description",
      "settings": [
        {
          "type": "paragraph",
          "content": "Description"
        },
        {
          "type": "text",
          "id": "tab-title",
          "label": "Tab title"
        }
      ]
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Note",
          "info": "This section requires [Product Reviews](https://apps.shopify.com/product-reviews) app by Shopify to work. If you are using different app then paste the liquid code of the app review in 'Custom liquid' field."
        },
        {
          "type": "text",
          "id": "tab-title",
          "label": "Tab title"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Liquid code of review app"
        }
      ]
    },
    {
      "type": "custom",
      "name": "Custom content",
      "settings": [
        {
          "type": "text",
          "id": "tab-title",
          "label": "Tab title"
        },
        {
          "type": "textarea",
          "id": "tab_content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "content_page",
          "label": "Tab content from page"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "text",
          "id": "tab-title",
          "label": "Tab title"
        },
        {
          "type": "liquid",
          "id": "tab_content",
          "label": "Tab content (Liquid Code)"
        }
      ]
    }
  ],
"presets": [
{
"name": "Product Tab"
}
]
}
{% endschema %}
