<link
  rel="stylesheet"
  href="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/assets/owl.carousel.min.css"
>
<link
  rel="stylesheet"
  href="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/assets/owl.theme.default.min.css"
>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets//vendors/jquery.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets//owlcarousel/owl.carousel.js"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-right: {{ section.settings.padding_left_right | times: 0.75 | round: 0 }}px;
    padding-left: {{ section.settings.padding_left_right | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-right: {{ section.settings.padding_left_right }}px;
      padding-left: {{ section.settings.padding_left_right }}px;
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }}-padding {{ section.settings.custom_class }}">
  <ul class="tabs">
    {%- for block in section.blocks -%}
      <li class="tab tab-{{ forloop.index }}" data-tab="tab-{{ forloop.index }}">{{ block.settings['tab-title'] }}</li>
    {%- endfor -%}
  </ul>

  {%- for block in section.blocks -%}
    <div id="tab-{{ forloop.index }}" class="tab-content">
      <div class="collection page-width">
        <div class="loading-overlay gradient"></div>

        <ul
          id="product-grid"
          data-id="{{ block.id }}"
          class="
            grid product-grid grid--{{ block.settings.columns_mobile }}-col-tablet-down
            grid--{{ block.settings.columns_desktop }}-col-desktop owl-carousel-product-tab owl-theme
          "
        >
          {%- for product in block.settings.collection.products limit: block.settings.products_to_show -%}
            {% assign lazy_load = false %}
            <li
              class="item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% render 'card-product',
                card_product: product,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                lazy_load: lazy_load,
                show_quick_add: section.settings.enable_quick_add,
                section_id: section.id
              %}
            </li>
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}
</div>
<style>
  ul.owl-carousel-product-tab .owl-stage {
      display: flex;
  }
  ul.owl-carousel-product-tab li.item.grid__item {
      width: 100%;
      max-width: 100%;
  }
  ul.owl-carousel-product-tab {
      overflow-x: hidden;
  }
  ul.tabs{
  	margin: 0px;
  	padding: 0px;
  	list-style: none;
  }
  ul.tabs li{
  	background: none;
  	color: #222;
  	display: inline-block;
  	padding: 10px 15px;
  	cursor: pointer;
  }

  ul.tabs li.current{
  	background: #ededed;
  	color: #222;
  }

  .tab-content{
  	display: none;
  	background: #ededed;
  	padding: 15px;
  }

  .tab-content.current{
  	display: inherit;
  }
</style>

<script>
    $(document).ready(function(){

  	$('ul.tabs li').click(function(){
  		var tab_id = $(this).attr('data-tab');

  		$('ul.tabs li').removeClass('current');
  		$('.tab-content').removeClass('current');

  		$(this).addClass('current');
  		$("#"+tab_id).addClass('current');
  	})

  })
</script>

<script>
  $('.owl-carousel-product-tab').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      dots: false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
      }
  })



  $(".tab-1").addClass("current");
  $("#tab-1").addClass("current");
</script>

{% schema %}
{
"name": "Product Tab",
"settings": [
       {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    },
      {
      "type": "range",
      "id": "padding_left_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Left Right",
      "default": 20
    }

],
"blocks": [
  {
      "type": "tabing",
      "name": "Tabing",
      "settings": [
            {
              "type": "text",
              "id": "tab-title",
              "label": "Tab Title"
            },
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
            {
              "type": "range",
              "id": "products_to_show",
              "min": 4,
              "max": 25,
              "step": 1,
              "default": 4,
              "label": "products_to_show"
            }
      ]
  }
],
"presets": [
{
"name": "Product Tab",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
