{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  .section-{{ section.id }}-padding .swiper-slide {
    width: calc(20% - {{ section.settings.space_slide | append:'px' }});
    margin-right:{{ section.settings.space_slide | append:'px' }};
  }
  @media(max-width:991px){
    .section-{{ section.id }}-padding .swiper-slide {
      width: calc(33.33% - {{ section.settings.space_slide | append:'px' }});
      margin-right:{{ section.settings.space_slide | append:'px' }};
    }
  }
  @media(max-width:749px){
    .section-{{ section.id }}-padding .swiper-slide {
      width: calc(50% - 10px);
      margin-right:10px;
    }
  }
  {% if section.settings.show_divider %}
  .section-featured-collection .collection:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ffe5e5;
    left: 0;
    bottom: 0;
  }
  {% endif %}
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="color-{{ section.settings.color_scheme }} isolate gradient"
>
  <div
    class="page-width collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin">
      {%- if section.settings.title != blank or section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
      <div class="title-content">
        {%- if section.settings.title != blank -%}
          <h2 class="cus-title {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.title }}
          </h2>
        {%- endif -%}
        {%- if section.settings.description != blank
          or section.settings.show_description
          and section.settings.collection.description != empty
        -%}
          <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- if section.settings.show_description -%}
              {{ section.settings.collection.description }}
            {%- else -%}
              {{ section.settings.description -}}
            {%- endif %}
          </div>
        {%- endif -%}
      </div>
      {%- endif -%}
      {%- if section.settings.show_view_all -%}
        <div class="collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          <a
            href="{% if section.settings.cus_collection_link != blank %}{{ section.settings.cus_collection_link }}{% else %}{{ section.settings.collection.url }}{% endif %}"
            class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}view-button{% else %}button button--secondary{% endif %}"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
          >
            {{ 'sections.featured_collection.view_all' | t }}
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.25 3.5L5.75 7L2.25 10.5" stroke="black" stroke-width="2"/>
            </svg>
          </a>
        </div>
      {%- endif -%}
    </div>

    <div class="swiper slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
       data-slidesperview="{{ section.settings.columns_desktop }}" 
       data-spacebetween="{{ section.settings.space_slide }}" 
       {%- if section.settings.autoplay == true -%}
         data-autoplay="true" 
         data-autoplay-delay="{{ section.settings.auto_speed_delay }}" 
       {% endif %}
       data-loop="{{ section.settings.loop }}"
       data-mobileSlides="{{ section.settings.columns_mobile }}"
       data-speed="{%- if section.settings.transition_speed != blank -%}{{ section.settings.transition_speed }}{%- else -%}500{%- endif -%}"
      >
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="{% if section.settings.enable_slider %}swiper-wrapper product-grid{% else %}grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %} contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {% assign skip_card_product_styles = false %}
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="{% if section.settings.enable_slider %}swiper-slide{% else %}grid__item{% endif %}">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </li>
          {%- assign skip_card_product_styles = true -%}
        {%- else -%}
          {%- for i in (1..section.settings.columns_desktop) -%}
            <li class="{% if section.settings.enable_slider %}swiper-slide{% else %}grid__item{% endif %}">
              {% liquid
                assign ridx = forloop.rindex
                case ridx
                  when 5
                    assign ridx = 1
                  when 6
                    assign ridx = 2
                endcase
              %}
              {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
              {% render 'card-product',
                show_vendor: section.settings.show_vendor,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                placeholder_image: placeholder_image
              %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
    {% if section.settings.enable_slider %}
      {%- if section.settings.navigation -%}
        <div class="swiper-button swiper-prev"> 
          <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="21" cy="21" r="20" fill="white"/>
            <circle cx="21" cy="21" r="20.5" stroke="#229316" stroke-opacity="0.2"/>
            <path d="M18.6551 25.486L15.1289 21.7946C14.918 21.5906 14.8125 21.3129 14.8125 21.0071C14.8125 20.7012 14.918 20.427 15.1289 20.2196L18.6551 16.5141C19.0734 16.0746 19.7555 16.0746 20.1738 16.5141C20.5922 16.9535 20.5922 17.6637 20.1738 18.1031L18.4793 19.875L26.1082 19.875C26.7059 19.875 27.1875 20.3778 27.1875 21C27.1875 21.6223 26.7059 22.125 26.1117 22.125L18.4828 22.125L20.1773 23.8969C20.5957 24.3364 20.5957 25.0465 20.1773 25.486C19.7555 25.9254 19.077 25.9254 18.6551 25.486Z" fill="black"/>
          </svg>
        </div>
         <div class="swiper-button swiper-next">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="20" fill="white"/>
              <circle cx="21" cy="21" r="20.5" stroke="#229316" stroke-opacity="0.2"/>
              <path d="M23.3449 16.514L26.8711 20.2054C27.082 20.4094 27.1875 20.6871 27.1875 20.9929C27.1875 21.2988 27.082 21.573 26.8711 21.7804L23.3449 25.4859C22.9266 25.9254 22.2445 25.9254 21.8262 25.4859C21.4078 25.0465 21.4078 24.3363 21.8262 23.8969L23.5207 22.125H15.8918C15.2941 22.125 14.8125 21.6222 14.8125 21C14.8125 20.3777 15.2941 19.875 15.8883 19.875H23.5172L21.8227 18.1031C21.4043 17.6636 21.4043 16.9535 21.8227 16.514C22.2445 16.0746 22.923 16.0746 23.3449 16.514Z" fill="black"/>
            </svg>
         </div>
      {% endif %}
      {%- if section.settings.pagination -%}
        <div class="swiper-pagination"></div>
      {%- endif -%}
      {% if section.settings.image_shape == 'arch' %}
        {{ 'mask-arch.svg' | inline_asset_content }}
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section-featured-collection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "Show Divider"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "url",
      "id": "cus_collection_link",
      "label": "Custom Link",
      "info": "If this field is empty, the automatically selected collection link will be selected."
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider configuration"
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable Slider",
      "default": false
    },
    {
      "type": "range",
      "id": "space_slide",
      "min": 1,
      "max": 50,
      "step": 1,
      "label": "Space between two slide",
      "default": 15
    }, 
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "Show navigation",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Show pagination",
      "default": true
    },
    {
      "type": "text",
      "id": "transition_speed",
      "label": "Transition speed",
      "default": "1500",
      "info": "Enter slide speed time like 500, where 1000 = 1 second"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "text",
      "id": "auto_speed_delay",
      "label": "Autoplay speed delay",
      "default": "800",
      "info": "Enter delay time (before switching to other slide) like 500, where 1000 = 1 second"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "touch_move",
      "label": "Touch move",
      "info": "It will enable slide change by touch in touch devices.",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}